*{
    margin: 0px;
    padding: 5px 0px;
    text-align: justify;
}

.container{
    font-size: 11px;
}

.num
{
    font-weight: bolder;
    padding-bottom: 10px;
}

.table{
    margin: auto;
    width: 450px;
    height:40px;
    border: solid 1.5px black;
}

/* .t1{
    margin: auto;
    width: 700px;
    height:auto;
    border: solid 1.5px black; 
} */

.header{
    text-align: center;
    font-size: 15px;
}

.footer div{
    text-align: center;
}

.niveau1 {
    margin-bottom: 15px;
}

.niveau2 span{
    margin-bottom: 12px;
    margin-right: 110px;
    margin-left: 105px;
}

.niveau3 span{
    margin-right: 80px;
    margin-left: 90px;
}

.niveau2, .niveau3, .niveau4{
    font-weight: bolder;
    margin-bottom: 100px;
}

